.wrapper .sidebar{
    background: rgb(33, 4, 61);
    position: fixed;
    top: 54px;
    left: 0;
    width: 67px;
    height: 100%;
    padding: 20px 0;
}

.sidebar a 
{
    padding: 0px 0px 20px 5px;
    text-decoration: none;
    color:  rgb(199, 199, 236);
    display: block;
    text-align: center;
    font-size: small;
}

.sidebar a:hover 
{
    color: white;
}