<div class="wrapper">
    <div class="sidebar">
        <a ><i class="fa fa-bell" aria-hidden="true"></i><br>Activity</a>
        <a ><i class="fa fa-comment" aria-hidden="true"></i><br>Chats</a>
        <a routerLink="/teams" routerLinkActive="active"><i class="fa fa-users" aria-hidden="true"></i><br>Teams</a>
        <a ><i class="fa fa-calendar" aria-hidden="true"></i><br>Calendar</a>
        <a ><i class="fa fa-phone" aria-hidden="true"></i><br>Calls</a>
        <a ><i class="fa fa-file" aria-hidden="true"></i><br>Files</a>
        <a ><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a>
    </div>
</div>
<app-side-bar2></app-side-bar2>